<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dictionary</title>
</head>
<body>

<table align="center" border="1" width="600">
    <colgroup>
        <col style="background:Khaki">
        <col span="2" style="background-color:LightCyan">
    </colgroup>
    <tr>
        <th>ID</th>
        <th>Expression</th>
        <th>Translation</th>
    </tr>
    <tr th:each="word : ${words}">
        <td><a th:href="@{/dictionary/{id}(id=${word.getId()})}" th:text="${word.getId()}">ID</a></td>
        <td><a th:href="@{/dictionary/{id}(id=${word.getId()})}" th:text="${word.getExpression()}">Expression</a></td>
        <td><a th:href="@{/dictionary/{id}(id=${word.getId()})}" th:text="${word.getTranslation()}">Translation</a></td>
    </tr>
</table>

<div align="center">
    </br>
    <a href="/dictionary/new">Add new word</a>
    </br>
    <a href="/dictionary/learn">Start learning!</a>
</div>

</body>
</html>