<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<script type="text/javascript">
function toggle_show(id) {
	document.getElementById(id).style.display = document.getElementById(id).style.display == 'none' ? 'block' : 'none';
}
</script>

<head>
    <meta charset="UTF-8">
    <title>Learning...</title>
</head>
<body>

<table align="center" border="1" width="600">
    <tr>
        <th>ID</th>
        <th th:text="${ID}">ID</th>
    </tr>
    <tr>
        <th>Expression</th>
        <th th:text="${expression}">Expression</th>
    </tr>
    <tr>
        <th>Direction</th>
        <th th:text="${direction}">Direction</th>
    </tr>
    <tr>
        <th>Translation</th>
        <th id="answer" style="display: none" th:text="${translation}">Translation</th>
    </tr>
</table>

<div align="center">
    </br>
    <form onclick="toggle_show('answer')">
        <input type="button" value="Show answer">
    </form>
    </br>
    <form th:method="POST" th:action="@{/dictionary/learn(id=${ID},direction=${direction})}">
        <input type="submit" value="Know">
    </form>
    </br>
    <form th:method="GET" th:action="@{/dictionary/learn}">
        <input type="submit" value="Don't know">
    </form>
    </br>
    <form th:method="GET" th:action="@{/dictionary}">
        <input type="submit" value="EXIT">
    </form>
</div>

</body>
</html>