<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Word</title>
</head>
<body>

<table align="center" border="1" width="600">
    <tr>
        <th>ID</th>
        <th th:text="${word.getId()}">ID</th>
    </tr>
    <tr>
        <th>Expression</th>
        <th th:text="${word.getExpression()}">Expression</th>
    </tr>
    <tr>
        <th>Translation</th>
        <th th:text="${word.getTranslation()}">Translation</th>
    </tr>
</table>

</br>

<table align="center" width="200">
    <tr>
        <th><a th:href="@{/dictionary/{id}/edit(id=${word.getId()})}">Edit</a></th>
        <th><form th:method="DELETE" th:action="@{/dictionary/{id}(id=${word.getId()})}">
            <input type="submit" value="Delete">
        </form></th>
    </tr>
</table>

</body>
</html>